@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@latest/dist/browser/signalr.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/signalrservice").build();

    connection.on("UpdatePage", function () {
        location.reload();
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>